@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* NAV BAR */

  nav {
    display: flex;
    width: 100%;
    background-color: #540b51;
    align-items: center;
    padding: 2%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(173, 162, 162, 0.266);
  }
  nav ul {
    display: none;
  }

  #slack-logo {
    width: 20%;
  }
  .search {
    display: flex;
    justify-content: space-between;

    width: 10%;
  }
  .search button {
    margin: 0 10%;
    background-color: #540b51;
  }
  a {
    color: #2e71a6;
  }

  /* HEADER */

  header {
    display: flex;
    background-color: #540b51;
  }
  .title {
    display: flex;
    flex-direction: column;
    padding: 4%;

    flex-basis: 50%;
  }
  header h1 {
    color: white;
    font-weight: 700;
    font-size: 5em;
    margin: 5% 0;
    text-align: left;
  }
  header p {
    font-size: 16px;
    margin: 8% 0 0 0;
    text-align: left;
  }
  .container-imghero {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  #Hero-image {
    height: 40%;
  }

  .bold-yellow {
    font-weight: bold;
    color: orange;
  }

  .light-white {
    font-weight: normal;
    color: white;
  }

  .btn-login {
    display: flex;
    flex-direction: column;
  }
  #Sign-inE {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    color: #540b51;
    padding: 5%;
    margin: 5% 0;
    text-transform: uppercase;

    font-size: 0.8em;
    font-weight: 700;
    height: 45px;
    border-radius: 2px;
  }
  #Sign-inG {
    display: flex;
    align-items: center;
    padding: 10px;

    color: white;

    background-color: #4285f4;

    margin: 0 0 5% 0;
    height: 45px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 2px;
  }
  #logo-google {
    max-width: 35px;
    background-color: white;
    margin: 0 15% 0 0;
    padding: 2%;
  }

  /* MAIN */

  main {
    display: flex;
    flex-direction: column;
    background-color: #f3eae2;
  }

  .first-sec {
    padding: 2%;
    text-align: center;
  }
  .first-sec p {
    font-weight: 800;
    margin: 5% 0 0 0;
    font-size: 20px;
  }
  .image-comp {
    display: flex;

    justify-content: space-between;
    margin: 5% 0 10% 0;
  }
  .first-line {
    display: flex;
    flex-direction: row;
    height: 70px;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;

    width: 49%;
  }
  .second-line {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 49%;
  }

  .image-comp img {
    max-width: 60%;
    max-height: 60%;
  }
  .second-sec * {
    margin: 5% 0;
  }
  .second-txt {
    margin: 0 20%;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .second-sec img {
    width: 80%;
  }
  .third-sec {
    display: flex;
    flex-direction: column-reverse;
  }
  .third-sec * {
    margin: 5% 0;
  }
  .third-sec img {
    width: 80%;
    float: right;
  }

  .third-text {
    margin: 0 20%;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .fourth-sec img {
    width: 80%;
    margin: 20px 0;
  }
  .fourth-sec * {
    margin: 5% 0;
  }
  .fourth-text {
    margin: 3% 20%;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .fifth-sec {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
  }
  .fifth-sec-btn {
    display: flex;
    justify-content: center;
    height: 6em;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid red;
    padding: 2%;
  }
  #meet {
    text-transform: uppercase;
    width: 35%;
    color: white;
    background-color: #540b51;
    border: 1px solid #540b51;
    border-radius: 3px;
    margin: 0 2%;
  }
  #talk {
    text-transform: uppercase;
    width: 30%;
    color: #540b51;
    background-color: white;
    border: 2px solid #540b51;
    border-radius: 3px;
  }
}

